<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <style>
            .alert {
                padding: 10px;
                color: white;
                text-align: center;
            }

            .alert-success {
                background-color: green;
            }
            .alert-danger {
                background-color: red;
            }
        </style>
    </head>
    <body>
    {{ include('layouts/partials/flash_messages.html.twig') }}

    <nav>
        <ul>
            <li> <a href="{{ path('home') }}">Home</a> </li>
            <li> <a href="{{ path('create_pin') }}">New Pin</a> </li>
        </ul>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
