
{% extends 'layouts/base.html.twig' %}

{% block title %}New Pin{% endblock %}

{% block body %}
  <h1> Create Pin </h1>

  {{ include('pin/_form.html.twig', {submitButtonText: 'Create Pin'}) }}
    <a href="{{ path('home') }}">Go back</a>
{% endblock %}
