
{% extends 'layouts/base.html.twig' %}

{% block title %}Edit Pin {{ pin.id }}{% endblock %}

{% block body %}
<div class="row">
    <div class="col-md-6 mx-auto">
    <h1> Edit Pin </h1>
    {{ include('pin/_form.html.twig', {submitButtonText: 'Edit Pin'}) }}
    </div>
</div>
{% endblock %}
