
{% extends 'layouts/base.html.twig' %}

{% block title %}Edit Pin {{ pin.id }}{% endblock %}

{% block body %}
    <h1> Edit Pin </h1>

    {{ include('pin/_form.html.twig', {submitButtonText: 'Edit Pin'}) }}
    <a href="{{ path('home') }}">Go back</a>
{% endblock %}
