
{% extends 'base.html.twig' %}

{% block title %}{{ pin.title }}{% endblock %}

{% block body %}
<article>
    <h1>
        {{ pin.title }}
    </h1>
    <p>
        {{ pin.description }}
    </p>
</article>
    <a href="{{ path('home') }}">Go back</a>
{% endblock %}
