<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
    </head>
    <body>
    <nav>
        <ul>
            <li> <a href="{{ path('home') }}">Home</a> </li>
            <li> <a href="{{ path('create_pin') }}">New Pin</a> </li>
        </ul>
    </nav>
        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
